body{
  margin: 0;
  padding: 0;
  color: black;
  background-color: #1E1919;  
  font-family: AtlasGroteskWeblight;
}
@font-face {
    font-family: AtlasGroteskWeblight;
    src: url("AtlasGroteskweblight.otf") format("opentype");
}
@font-face {
  font-family: SharpGrotesk;
  src: url("SharpGrotesk-Book25.otf") format("opentype");
}

header{
  margin: 0;
  padding: 0;
  height: 48px;
}
nav{
  align-items: center;
  top:0;
  left: 0;
  position: fixed;
  margin: 0;
  padding: 0;
  height: 48px;
  width: 100%;
  background-color: white;
}
.logo{
  display: flex;
  margin: 0;
  text-align: center;
  background-color: #0061FE;
}
.logo img{
  padding-bottom:10px;
  padding-top: 10px;
}  
.logotext{
  margin: 0;
  padding: 0;
  float: left;
  width:93px;
  height: 22px;
  margin-left: 50px;
}


.espaco{
  width: auto;
  height: 72px;
}

.campo1{
  color: white;
  width: auto;
  text-align:center;
  margin:20%;
  margin-top: 0;
  margin-bottom: 0;
}
.campo1 p{
  line-height: 150%;
}
.campo1 h2{
  margin:0;
  font-weight: 400;
  text-wrap: balance;
  hyphens: manual;
  overflow-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-size: 40px;
  font-family: SharpGrotesk;   
}



.btn {
  display: inline-block;
  background-color: #007bff;
  color: black;
  padding: 20px 40px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  margin-top: 32px;
}

.btn:hover {
  background-color: rgb(49, 144, 245);
}
.campo2{

  width: auto;
  margin-left: 3.7%;
  margin-right: 3.7%;
}
.campo2 video{
  width: 100%;
}