body{
  margin: 0;
  padding: 0;
  color: black;
  background-color: #1E1919;  
  font-family: AtlasGroteskWeblight;
}
@font-face {
    font-family: AtlasGroteskWeblight;
    src: url("AtlasGroteskweblight.otf") format("opentype");
}
@font-face {
  font-family: SharpGrotesk;
  src: url("SharpGrotesk-Book25.otf") format("opentype");
}

header{
  margin: 0;
  padding: 0;
  height: 48px;
}
nav{
  top: -0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 48px;
  width: 100%;
  background-color: white;
}
.logo{float: left;
  background-color: #0061FE;
  padding: 11.5px 9px;
}  
.logotext{
  padding: 16px 8.5px;
  margin:0;
  float: inline-end;
}


.espaco{
  width: auto;
  height: 72px;
}

.campo1{
  color: white;
  width: auto;
  text-align:center;
  margin:20%;
  margin-top: 0;
  margin-bottom: 0;
}
.campo1 p{
  margin-left: 10% ;
  margin-right: 10% ;
  line-height: 24px;
  font-size: 16px;
  overflow-wrap: break-word;
}
.campo1 h2{
  margin:0;
  font-weight: 400;
  text-wrap: balance;
  hyphens: manual;
  overflow-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-size: 40px;
  font-family: SharpGrotesk;   
}



.btn {
  position: relative;
  display: block;
  font-family: AtlasGroteskWeblight;
  display: inline-block;
  background-color: #007bff;
  color: black;
  padding: 25px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  line-height: 19.2px;
  margin-top: 32px;
  font-weight: bold;
  min-height: 100%;
  
}

.btn:hover {
  background-color: rgb(49, 144, 245);
}
.campo2{

  width: auto;
  margin-left: 3.7%;
  margin-right: 3.7%;
}
.campo2 video{
  width: 100%;
}